@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: 'Lato', sans-serif;
}

.menu-icon {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.sidebar-nav {
  @apply uppercase tracking-widest;
}

.sidebar-nav .nav-link {
  @apply px-4 py-6 flex justify-start items-center;
}

.sidebar-nav .nav-link:hover {
  @apply bg-grey-dark text-black;
}

.sidebar-nav .active {
  @apply bg-grey-dark text-black;
}
