@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

.menu-icon {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.sidebar-nav {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-nav .nav-link:hover {
  background-color: #adb4c2;
  color: #2B4964;
}

.sidebar-nav .active {
  background-color: #adb4c2;
  color: #2B4964;
}

.new-item-btn {
  background-color: #38a169;
  border-radius: 9999px;
  padding: 0.5rem;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.new-item-btn:hover {
  background-color: #2f855a;
}

.table-actions {
  text-align: center;
}

.table-actions button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.125rem;
}

.table-actions .view {
  color: #2b79c1;
}

.table-actions .view:hover {
  color: #266299;
}

.table-actions .edit {
  color: #dd6b20;
}

.table-actions .edit:hover {
  color: #c05621;
}

.table-actions .delete {
  color: #c53030;
}

.table-actions .delete:hover {
  color: #9b2c2c;
}