@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-family: 'Lato', sans-serif;

  @apply .font-sans;
  @apply .leading-normal;
  @apply .text-grey-darkest;
}